@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-inter), "Inter", "arial", "ui-sans-serif", "system-ui",
    "sans-serif";
  --font-brand: var(--font-outfit), sans-serif;

  --font-new-science: "new-science", sans-serif;
  --font-optima: "optima-lt-pro", sans-serif;

  --color-pale-azure: #61d6ff;
}

@layer base {
  /* Make all headings use the brand font */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-brand;
  }
  p {
    @apply font-optima;
  }
}
