---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Icon } from "astro-icon/components";
---

<section class="-mt-22 mb-5 rounded-2xl bg-[#191A1C] pt-24">
  <div
    class="relative mx-4 mt-5 rounded-b-2xl bg-cover bg-[70%_0%] bg-no-repeat pt-[120px] pb-16 text-white/90 md:mx-[20px] md:p-[20px] md:pt-[40px] md:pb-[40px] lg:mx-[20px] lg:p-[40px] lg:pt-[240px] lg:pb-[80px]"
    style="background-image: url('/hero.jpg');"
  >
    <!-- Content -->
    <div class="mx-auto max-w-6xl">
      <div class="relative z-10">
        <h1
          class="font-brand text-xl text-white/90 uppercase md:text-5xl lg:text-6xl"
        >
          We dont do weight loss <br />
          We do <span class="font-bold" id="typed-noun"></span>
        </h1>
        <p class="mt-5 text-xl uppercase">
          If GETTING TO THE top 1% is your goal, there’s only ONE place.
        </p>

        <!-- 
  The Button Component. 
  "group" is the key to the hover effect.
-->
        <a
          href="#"
          class="group bg-pale-azure relative mt-6 inline-flex items-center justify-between gap-x-3 overflow-hidden rounded-full py-2 pr-4 pl-5 text-white/90 ring-1 ring-white transition-all duration-300 hover:scale-105 hover:from-slate-700 hover:to-slate-800 hover:ring-slate-800"
        >
          <!-- 1. The Text -->
          <span class="font-brand text-xs font-bold tracking-wider uppercase">
            Book my consulation
          </span>

          <!-- 2. The Icon Container -->
          <div
            class="flex h-8 w-8 scale-75 items-center justify-center rounded-full bg-white/90 transition-colors duration-300 group-hover:scale-100 group-hover:bg-slate-900"
          >
            <!-- 3. The Icon itself from astro-icon -->
            <Icon
              name="heroicons:arrow-right"
              class="font-lg text-black/90 group-hover:text-white/90"
            />
          </div>
        </a>
      </div>

      <!-- Icon Section -->
      <div class="mt-6 pt-6">
        <div
          class="font-brand grid grid-cols-2 gap-8 font-bold text-white/90 md:grid-cols-4"
        >
          <div class="flex items-center gap-4">
            <Icon
              name="heroicons:trophy-20-solid"
              class="text-pale-azure text-4xl"
            />
            <h6 class="text-sm font-semibold">World Class Results</h6>
          </div>

          <div class="flex items-center gap-4">
            <Icon name="ri:group-2-fill" class="text-pale-azure text-5xl" />
            <h6 class="text-sm font-semibold">World Class Coachess</h6>
          </div>

          <div class="flex items-center gap-4">
            <Icon
              name="heroicons:bolt-20-solid"
              class="text-pale-azure text-5xl"
            />
            <h6 class="text-sm font-semibold">World Class Mentality</h6>
          </div>

          <div class="flex items-center gap-4">
            <Icon name="solar:graph-up-bold" class="text-pale-azure text-6xl" />
            <h6 class="text-sm font-semibold">World Class Network</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Typed from "typed.js";

  new Typed("#typed-noun", {
    strings: ["transformation", "comeback", "swagger"],
    typeSpeed: 60,
    backSpeed: 40,
    backDelay: 1700,
    loop: true,
  });

  /*  
  var typed1 = new Typed("#typed-1", {
    strings: [
      "Stuck to Strong",
      "Frustrated to Upstoppable",
      "Overwhelmed to Confident",
    ],
    typeSpeed: 100,
    backSpeed: 60,
    loop: true,
    smartBackspace: true,
  });
*/
</script>
