<section
  class="mx-auto mt-20 mb-30 max-w-5xl bg-white/90 px-4 text-black/90 sm:px-6 lg:px-8"
>
  <h2
    class="font-brand bg-gradient-to-r from-blue-400 to-blue-900 bg-clip-text text-2xl font-bold tracking-tight text-transparent uppercase"
  >
    Who is Epic Swagger?
  </h2>
  <p
    class="leading7 max-w-prose py-5 text-3xl font-extralight tracking-normal text-balance uppercase sm:leading-10"
  >
    A team of leading fitness coaches, nutrition experts, and medical
    professionals focusED on AESTHETIC optimization, maximum HUMAN performance,
    AND INCREASING Health span.
  </p>
</section>
