---
import Card from "../components/Card.astro";
import CarouselSwiper from "../components/CarouselSwiper.astro";
import type { Transformation } from "../components/CarouselSwiper.astro";

import beforeImg from "../assets/t002-before.jpg";
import afterImg from "../assets/t002-after.jpg";

import t002Before from "../assets/t002-before.jpg";
import t002After from "../assets/t002-after.jpg";

const transformations: Transformation[] = [
  {
    name: "Mike T.",
    story: "Lost 24 lbs in 12 weeks",
    beforeImg: t002Before.src,
    afterImg: t002After.src,
    altText: "Body transformation of Sarah M.",
  },
  {
    name: "David L.",
    story: "Lost 38 lbs in 16 weeks",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of David L.",
  },
  {
    name: "Mike T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
  {
    name: "Tim T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
  {
    name: "John T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
  {
    name: "Alex T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
  {
    name: "Jimmy T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
  {
    name: "Greg T.",
    story: "Completely changed his lifestyle in just 6 months.",
    beforeImg: beforeImg.src,
    afterImg: afterImg.src,
    altText: "Body transformation of Mike T.",
  },
];
---

<section id="gallery" class="mb-5 rounded-2xl bg-[#F9FAFB] text-zinc-900">
  <CarouselSwiper data={transformations} title="Real People, Real Results" />
</section>
