---
import { Image } from "astro:assets";
import Coaches from "../assets/coaches.jpg";
import { Icon } from "astro-icon/components";
import Card from "../components/Card.astro";

const features = [
  { name: "Advanced Education", icon: "heroicons:academic-cap-solid" },
  { name: "Certified Coaches", icon: "heroicons:check-badge-solid" },
  { name: "Unrivaled Support", icon: "mdi:lifebuoy" },
  { name: "Nutrition Experts", icon: "healthicons:nutrition-outline" },
  { name: "Medical Professionals", icon: "fa6-solid:stethoscope" },
];
---

<Card variant="light" title="The Difference">
  <div
    class="grid grid-cols-1 items-center gap-x-6 gap-y-10 lg:grid-cols-[1fr_2fr]"
  >
    <!-- Left Column: text -->
    <div>
      <h2
        class="font-brand mt-8 text-4xl font-semibold tracking-tight uppercase"
      >
        We don’t aim for average.
      </h2>

      <p class="text-ink-2 mt-6 leading-7">We’re engineered for excellence.</p>
      <p class="text-ink-2 mt-4 leading-7">
        95% of people who lose weight gain it all back
      </p>
      <p class="text-ink-2 mt-4 leading-7">
        Because they stop when the number on the line.
      </p>
      <p class="text-ink-2 mt-4 leading-7">We don’t stop there.</p>
      <p class="text-ink-2 mt-4 leading-7">
        We hardwire the habits, mindset, and environment it takes to never go
        back.
      </p>
      <!-- Features -->
      <ul class="mt-10 space-y-5">
        {
          features.map((f) => (
            <li class="text-ink flex items-start">
              <Icon name={f.icon} class="text-brand h-6 w-6 shrink-0" />
              <span class="ml-4 font-semibold">{f.name}</span>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Right Column: image w/ overlay -->
    <div class="relative">
      <Image
        src={Coaches}
        alt="A collage showcasing the certified, world-class fitness coaches"
        class="h-auto w-full rounded-2xl shadow-xl"
        widths={[640, 768, 1152, 1600]}
        sizes="(min-width: 1152px) 768px, (min-width: 1024px) 66vw, 100vw"
        loading="lazy"
        quality="mid"
      />

      <!-- 'CERTIFIED' badge -->
      <div class="absolute inset-0 flex items-end justify-center pb-6">
        <div class="rounded-lg bg-black/30 px-6 py-2 backdrop-blur-sm">
          <p
            class="text-4xl font-black tracking-widest whitespace-nowrap text-white uppercase sm:text-5xl"
          >
            Certified
          </p>
        </div>
      </div>
    </div>
  </div>
</Card>
