---
import Card from "../components/Card.astro";
---

<Card variant="light" title="Who is Epic Swagger?">
  <h2
    slot="header"
    class="font-brand mb-6 text-sm font-bold tracking-wider uppercase"
  >
    Who is Epic Swagger?
  </h2>

  <p
    class="font-new-science max-w-prose py-5 text-3xl font-extralight text-balance uppercase"
  >
    A team of leading fitness coaches, nutrition experts, and medical
    professionals focusED on AESTHETIC optimization, maximum HUMAN performance,
    AND INCREASING Health span.
  </p>
</Card>
