<section class="bg-zinc-50 px-4 py-16">
  <div class="mx-auto max-w-6xl">
    <!-- First Section: Who We Are -->
    <h2 class="font-brand mb-8 text-sm font-bold tracking-wider uppercase">
      Who we are?
    </h2>

    <div class="font-inter mx-auto text-lg leading-relaxed font-light">
      <p class="mb-12">
        <span class="text-2xl font-medium">An alliance of elite coaches</span> specializing
        in fitness, nutrition, and mindset who are experts in aesthetic optimization
        and performance transformation. Our mission? To instill the principles of
        discipline and excellence that builds unshakable confidence and magnetic
        attractiveness in every area of your life.
      </p>
    </div>

    <!-- Second Section: What is Swagger -->

    <div class="font-inter mx-auto text-lg leading-relaxed font-light">
      <p class="">
        <span class="text-2xl font-medium">What is swagger?</span> We help you develop
        an unshakable presence rooted in self-belief, purpose, and authenticity.
        It's the quiet confidence that comes from doing the work, knowing who you
        are, and walking into every room with alignment, intention, and impact. It's
        not arrogance, it's assurance. It's not vanity, it's vitality. It's not loud,
        it's locked in.
        <strong class="font-bold text-black"
          >Swagger is when your energy speaks before you do</strong
        >, and your actions echo long after you leave the room.
      </p>
    </div>
  </div>
</section>
