---
import Card from "../components/Card.astro";
---

<Card variant="light" id="difference">
  <div class="mb-12 grid gap-8 md:grid-cols-2">
    <div>
      <h2 class="mb-4 text-4xl font-bold tracking-tight text-ink">
        We don’t aim for average. <br />We’re engineered for excellence.
      </h2>
      <div class="font-semibold uppercase tracking-wide text-ink-2">
        
      </div>
    </div>

    <div>
      <p class="mb-2">
        95% of people who lose weight gain it all back
      </p>
      <p>
        Because they stop when the number on the.
      </p>
      <p>
        We don’t stop there.
      </p>
      <p>
        We hardwire the habits, mindset, and environment it takes to never go back.
      </p>
    </div>
  </div>

  <h3 class="mb-5 text-3xl font-bold tracking-tight text-ink">
    OUR 4 STEP PROCESS
  </h3>
  <p class="mb-8">
    Our formula is based in science that produces a mathematical certainty via the MED (Minimal Effective Dose).
  </p>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-5">
    {
      [
        { num: 1, title: "STRIP", subtitle: "THE FAT" },
        { num: 2, title: "EAT", subtitle: "PURPOSELY" },
        { num: 3, title: "HYDRATE", subtitle: "HYDRATE. HYDRATE" },
        { num: 4, title: "LOCK IN", subtitle: "STEPS" },
        { num: 4, title: "TRAIN SMARTER", subtitle: "NOT HARDER" },
      ].map(({ num, title, subtitle }) => (
        <div class="aspect-square rounded-2xl bg-surface-dark p-8 text-ink-dark">
          <!-- Top: number -->
          <p class="text-center text-4xl font-bold">{num}</p>

          <!-- Bottom: text -->
          <div class="mt-auto text-center">
            <p class="text-lg font-semibold uppercase tracking-wider">{title}</p>
            <p class="text-lg font-semibold uppercase tracking-wider">{subtitle}</p>
          </div>
        </div>
      ))
    }
  </div>
</Card>
