---
import SectionImage from "../components/SectionImage.astro";
import { Image } from "astro:assets";
import networkBg from "../assets/network-card.jpg";
---

<SectionImage variant="dark" minHeight="600px">
  <Image
    slot="background"
    src={networkBg}
    alt="A view of planet Earth from orbit, representing a global network."
    class="h-full w-full object-cover"
    widths={[640, 768, 1152, 1920]}
    sizes="(min-width: 1152px) 1152px, 100vw"
    loading="lazy"
    quality="mid"
  />

  <div class="grid w-full grid-cols-1 gap-12 lg:grid-cols-2">
    <!-- Left: Title & Stats -->
    <div class="flex flex-col gap-y-12">
      <h2 class="text-5xl font-extrabold tracking-tight">
        JOIN A WORLD CLASS NETWORK
      </h2>

      <div class="flex flex-col gap-6 text-center sm:flex-row lg:flex-col">
        <div class="flex-1 rounded-xl bg-black/60 p-4 backdrop-blur-sm">
          <p class="text-5xl font-extrabold">3,500+</p>
          <p class="text-ink-dark/80 text-sm">Members</p>
        </div>
        <div class="flex-1 rounded-xl bg-black/60 p-4 backdrop-blur-sm">
          <p class="text-5xl font-bold">90%</p>
          <p class="text-ink-dark/80 text-sm">Business owners</p>
        </div>
      </div>
    </div>

    <!-- Right: Text & CTA -->
    <div class="flex flex-col justify-center gap-8 sm:justify-end">
      <div class="space-y-6 text-sm">
        <p>Supra Human isn’t just a fitness program.</p>
        <p>
          It’s one of the most robust networks that you’ll find, with high
          performing business men and women.
        </p>
        <p>
          Because of this, we require applicants to make more than 150k a year
          to qualify.
        </p>
      </div>

      <a
        href="#"
        class="border-ink-dark/80 hover:text-ink inline-flex items-center justify-between self-start rounded-full border px-5 py-2.5 text-sm font-bold tracking-wider uppercase transition-colors hover:bg-white focus-visible:outline-white"
      >
        <span>Hit my reset</span>
        <svg class="ml-3 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</SectionImage>
