---
import "../styles/global.css";
import { Font } from "astro:assets";
import Navbar from "../components/Navbar.astro";
const { pageTitle } = Astro.props;

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- used in suprahuman
     <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/jkr8epg.css" />
    <Font cssVariable="--font-outfit" preload />
    <Font cssVariable="--font-inter" preload />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="mx-5">
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
